// Theme Colors
$color-base: #36393E !default;
$color-highlight: #949494 !default;
$color-red: #bf360c !default;
$color-green: #43B581 !default;

$color-shade-darkest: #202225 !default;
$color-shade-dark: #2F3136 !default;
$color-shade-mid: #36393E !default;
$color-shade-light: #42464D !default;
$color-shade-lightest: #96989B !default;

$color-highlight: #4A433A !default;

// Sidebar colors:
$color-sidebar-background: $color-shade-dark;
$color-sidebar-selected: $color-shade-light;
$color-sidebar-hover: $color-shade-mid;

// Font Colors
$color-font-sidebar: #4F544C;
$color-font-sidebar-selected: #F6F0E7;
$color-font-sidebar-hover: #D6D7D9;
$color-font-sidebar-header: #84878b;
$color-font-sidebar-header-hover: #B9BBB5;

$color-font-message: #C0C1C2;
$color-font-message-sender: #FFFFEC;
$color-font-link: #238ACA;

$base-font-color: $color-font-message;
$base-link-color: $color-highlight !default;
$base-link-color-active: #c7c7c7 !default;

// Grayscale Colors
$black: #000;
$white: #fff;

// Shadow Colors
$color-shadow-dark: rgba($black, 0.5) !default;
$color-shadow-medium: rgba($black, 0.25) !default;
$color-shadow-light: rgba($black, 0.15) !default;
$color-shadow-transparent: rgba(255, 255, 255, 0) !default;

// Code Colors
$code-colors: (
  keyword: #ce93d8, atom: #9fa8da, number: #a5d6a7, def: #536dfe,
  variable: #9fa8da, variable-alt: #c5e1a5, comment: #ffcc80, string: #ef9a9a,
  string-alt: #ffab91, meta: #eee, qualifier: #eee, builtin: #b39ddb,
  bracket: #e6ee9c, tag: #a5d6a7, attribute: #40c4ff, header: #80cbc4,
  quote: #b0bec5, hr: $color-shade-dark, link: $base-link-color
);

// Emoji Hover Colors
$emoji-hover-colors: (
  0: #b7e887, 1: #b5e0fe, 2: #f9ef67, 3: #f3c1fd, 4: #ffe1ae, 5: #e0dfff
);

// Font Families
// $base-font-family may be set in themes to override the chat font-family
